.slider {
  overflow: hidden;
  width: 100%;
}

.track {
  display: flex;
  width: max-content;
  gap: 3rem;
  animation: slide 25s linear infinite;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
