@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    ;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}


h1 {
    font-size: clamp(0rem, 10vw, 5rem);
  }
  
  h2 {
    font-size: clamp(0rem, 10vw, 2.5rem);
  }
  
  h3 {
    font-size: clamp(0rem, 10vw, 1.75rem);
  }

  h4{
    font-size: clamp(0rem, 5vw, 1rem);
  }

  .titre-bulle-desktop{
    font-size: 1rem;
  }
  
  /* Paragraphs */
  p {
    font-family: 'Roboto-mono', sans-serif;
    font-size: clamp(0rem, 4vw, 1rem);
    margin-bottom: 1rem;
  }

/* Styles "Mes Projets" */
/* Styles personnalisés pour le carousel */

/* Styles du carousel */
.custom-carousel {
    margin-bottom: 40px;;
}

.custom-carousel .slide {
    padding: 0;
    display: flex;
    justify-content: center;
}

.custom-carousel .control-dots {
    bottom: 20px;
}

.custom-carousel .dot {
    background: #FAF8F5 !important;
    box-shadow: none !important;
    opacity: 0.5;
    margin: 0 4px;
}

.custom-carousel .dot.selected {
    opacity: 1;
}

.custom-carousel .control-arrow {
    opacity: 1 !important;
}



@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-slide {
    animation: slide 10s linear infinite;
}

.animate-slide:hover {
    animation-play-state: paused;
}



@media (min-width: 768px) {
    .custom-carousel .control-dots {
        bottom: -40px;
    }

    .animate-slide {
        animation: slide 20s linear infinite;
    } 
}